:root {
  --main-Dawn: #A4a29e;
  --main-Chambray: #36498F ;
  --main-JellyBean: #2D7C9D;
  --main-Bunker: #161D20;
  --main-silver:#cccccc;
}
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 100%;
  scroll-behavior: smooth;
}


@media only screen and (min-width:769px){
    *{
     margin:0px;
     padding:0px;
     font-family: 'roboto';
     
     }
     section{
     height:100vh;
     max-width:100%;
   }
   .welcome-section{
     
     background-color: var(--main-Bunker);
     padding:0px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }

  .welcome-section > div> img {
    width: 250px;
    border-radius:30px;
    height:auto;
  }
  
  
  
     .welcome-section > h1{
       color: var(--main-Chambray);
       font-size:40px;
       
     }
     .welcome-section  > h2{
       font-size:25px;
       color: var(--main-JellyBean);
     } 
     .projects {
     background-color: var(--main-Chambray);
     padding:80px;
     color:var(--main-silver);
     
     }
     
   .nav {
     position:fixed;
     display:flex;
     top:0;
     left:0;
     width:100%;
     height:80px;
     background-color: var(--main-JellyBean)	;
     justify-content: flex-end;
   }
   .nav > ul{
     display:flex;
     flex-direction: row;
     margin-right:5%;
     align-items: center;
   }
   li{
     list-style: none;
     
   }
   .nav > ul> li{
     width:150px;
     font-size: 1.8rem;
     
   }
  .nav> ul> li> a{
    color: var(--main-silver);
   }
  .nav > ul> li> a> i{
    padding:5px;
  }
   
   a{
     text-decoration: none;
     }

   .contact {
     background-color: var(--main-Dawn);
     padding:0px;
     color:var(--main-Bunker);
     display: flex;
     flex-direction: column;
     justify-content: center;
     
     text-align: center;
     }

.contact_header > h1{
  font-size: 40px;
  
}
.contact_header > h3{
  font-size: 25px;
}

 .contact-link{
    padding-top: 3%;
    display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     text-align: center;
    width:100%;
    gap:5%;
      
  }
  .contact-link > a{
    font-size: 2rem;
    
    color: var(--main-silver);
    
  }
  
   /* Finish  desktop screen design 
  
  */
}

   @media only screen and (max-width: 768px) { 
     *{
       margin:0px;
     padding:0px;
       font-family: 'roboto';
     }
     section{
     height:100vh;
     max-width:100%;
   }
     .welcome-section{
     background-color: var(--main-Bunker);
     padding:0px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
  .welcome-section > div> img {
    width: 200px;
    border-radius:30px;
    height:auto;
  }
  
  
  
     .welcome-section > h1{
       margin-top:20px;
       color: var(--main-Chambray)  ;
       font-size:30px;
       
     }
     .welcome-section  > h2{
       color:var(--main-JellyBean) ; 
       font-size:20px;
     }
     .projects {
     background-color: var(--main-Chambray);
     padding:80px 0px 80px 0;
     color:var(--main-silver);
     }
     
     
     .nav {
     position:fixed;
     display:flex;
     top:0;
     left:0;
     width:100%;
     height:80px;
     background-color: var(--main-JellyBean)	;
     justify-content: flex-end;
   }
   .nav > ul{
     display:flex;
     flex-direction: row;
     gap:20px;
     align-items: center;
     margin-right:10%;
   }
   li{
     list-style: none;
   }
   .nav > ul> li{
     width:auto;
     font-size: 1.3rem;
   
   }
   
   
   .nav> ul> li> a{
    color: var(--main-silver);
  }
   
   
   a{
     text-decoration: none;
     }
    .contact {
     background-color: var(--main-Dawn);
     padding:0px;
     color:var(--main-Bunker);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     }

.contact_header > h1{
  font-size: 30px;
  
}
.contact_header > h3{
  font-size: 15px;
} 
.contact-link{
    padding-top: 3%;
    display: flex;
     flex-direction: column;
     justify-content: center;
     
     text-align: center;
    width:100%;
    
      
  }
  .contact-link > a{
    font-size: 2rem;
    line-height: 5rem;
    color: var(--main-silver);
    
  }
     

}